<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245808263508-mu3qltl27hj1eqanl98fvv73ttnf0h8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245808263508-mu3qltl27hj1eqanl98fvv73ttnf0h8m</string>
	<key>API_KEY</key>
	<string>AIzaSyB0D8hwr2k5A7tEZ3NsZzCqxNoorF8qBRU</string>
	<key>GCM_SENDER_ID</key>
	<string>245808263508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheKian.RNGains</string>
	<key>PROJECT_ID</key>
	<string>rngains-b9c68</string>
	<key>STORAGE_BUCKET</key>
	<string>rngains-b9c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245808263508:ios:573c32895df228db3d18c1</string>
</dict>
</plist>